address {margin-top: 1em; margin-bottom: 1em;}

.qa-question {margin: 0px; margin-top: 1em; display: block; font-size: 1.2em; font-weight: bold;}
.qa-answer {margin-top: 1em; margin-bottom: 1em; display: block;}
.qa-answer em {font-style: normal; font-weight: bold;}
.special-thanks {text-align: center;}

.fb-album {font-family: sans-serif; font-size: .9em;}
.fb-album a.fb-picture-link {display: block; float: left; width: 130px; height: 130px; margin: .25em; border: 2px solid #666666; border-radius: 8px;}
.fb-album a.fb-picture-link:hover {border-color: white;}
.fb-album a.fb-picture-link:hover .wraptocenter {background-color: black;}
.fb-album .wraptocenter {width: 130px; height: 130px; background-color: #111111; border-radius: 8px;}
.fb-album img {border: none;}
.fb-album .caption {text-align: center; font-size: 1.1em; padding-top: 1em; padding-bottom: .5em;}

#cooler {width: 150px; float: left; padding-top: 1em; padding-right: 2em; padding-bottom: 1em;}
#tipi {display: block; margin: 0px auto;}
#tipi-and-cooler {display: block; float: left;}
#live-link {font-weight: bold; font-size: 1.2em; text-align: center;}
#gallery-link {text-align: center;}
#sponsorship-message {text-align: center;}
#fb-charitable-gallery {font-family: sans-serif; font-size: .9em;}
#fb-charitable-gallery #picture-box {padding-bottom: 1em;}
#fb-charitable-gallery #picture-box img {border: 2px solid white;}
