@CHARSET "ISO-8859-1";

img.profile {
  display: block;
  margin: auto;
}

.star-box {
	padding-bottom: 1em;
}

img.board-profile {
	float: left;
	clear: both;
	margin-right: 1em;
}
	
.board-description {
	padding-bottom: 2em;
}
