@CHARSET "ISO-8859-1";

.special-attention {
	background-color: black;
  padding: 1em;
}

.centered {
	text-align: center;
}

img.profile {
  display: block;
  margin: auto;
}

.star-box {
	padding-bottom: 1em;
}

img.board-profile {
	float: left;
	clear: both;
	margin-right: 1em;
}
	
.board-description {
	padding-bottom: 2em;
	margin-left: 111px;
}
