@CHARSET "ISO-8859-1";

table.layout {
	margin: auto;
	/*
	margin-left: .5em;
	*/
  margin-top: 1.75em;
	width: 1118px;
	border-collapse: collapse;
}

table.layout td {
  padding: 0px;
  vertical-align: top;
}

table.layout td.layout-top-left {
	width: 204px;
	position: relative;
}

table.layout td.layout-top-right {
}

table.layout td.layout-bottom-left {
}

table.layout td.layout-bottom-right {
}
