@CHARSET "ISO-8859-1";

body {
	background-color: #c61b24;
  color: white;
}

a {
	color: white;
	text-decoration: underline;
}

img#site-logo {
	position: absolute;
	top: -22px;
	left: -27px;
	/*
	top: 8px;
	left: 4px;
	*/ 
	z-index: 2;
}

h1#site-title {
	padding: 14px;
	text-align: center;
	margin: 0px;
	color: white;
	text-transform: uppercase;
  font-size: 2.25em;
  line-height: 1.5em;
}

h1#site-title .first {
	font-size: 1.75em;
	font-weight: bold;
}

h2#page-title {
	font-size: 2.25em;
	font-weight: normal;
	text-align: center;
}

.content {
  padding-left: 52px;
	padding-right: 52px;
}

.content .cushion-top {
  padding-top: 6px;
}

.content .cushion-bottom {
  padding-bottom: 2em;
}

.navigation {
	padding-left: 1em;
  padding-right: 1em;
}

.navigation .cushion-top {
  padding-top: 100px;
}

.navigation .cushion-bottom {
  padding-bottom: 2em;
}

.footer-message {
  margin-left: 2em;
  margin-right: 2em;
	padding-top: 1em;
	padding-right: 80px;
	padding-bottom: 2em;
	text-align: center;
	font-family: sans-serif;
	font-size: .8em;
	background-image: url('../pictures/native-scholar-hat.png');
	background-position: right;
	background-repeat: no-repeat;
}

