@CHARSET "ISO-8859-1";

/*
	Dark gold: #D19405
  Gold: #FECE2F
*/

body {background-color: #c61b24; color: white;}
a {color: white; text-decoration: underline;}
.centered {text-align: center;}
#mortar-board {padding-top: 4em;}

#site-logo-container {position: relative;}
img#site-logo {position: absolute; top: -22px; left: -27px; z-index: 2;}
h1#site-title {padding: 14px; text-align: center; margin: 0px; color: white; text-transform: uppercase; font-size: 2.25em; line-height: 1.5em;}
h1#site-title .first {font-size: 1.75em; font-weight: bold;}

h2#page-title {font-size: 2.25em; font-weight: normal; text-align: center;}
h3.subheading {font-style: italic; text-align: center}

.content {padding-left: 1em; padding-right: 1em;}
.content .cushion-top {padding-top: 6px;}
.content .cushion-bottom {padding-bottom: 2em;}

.navigation {padding-left: 1em; padding-right: 1em;}
.navigation .cushion-top {padding-top: 100px;}
.navigation .cushion-bottom {padding-bottom: 2em;}

table.grid {border: none; width: 100%;}